body{
    background-image: url(../img/pattern.jpg);
    margin: 0%;
}
header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}
nav{
    float: right;
    height: 60px;
    max-width: 600px;
}
 ul{
    list-style-type: none;
    margin-right: 10px;
}
 li{
    margin-right: 20px;
    float: left;
}

section{
    border: 1px solid white;
    margin: 80px 150px 10px;
    padding: 10px;
    background-color: aquamarine;
}
h1{
    text-align: center;
}
article{
    border-bottom: 1px solid wheat;
}
footer{
    background-color: aqua;
    padding: 1px;
}
h5{
    color: black;
    text-align: center;
}

